html
  font-family: "Source Sans Pro", sans-serif

nav
  position: absolute
  top: 0
  width: 100%
  background: rgba(255,255,255,.7)
  z-index: 9
  text-align: center
  h1
    display: inline-block
    color: #777
  ul
    display: inline-block
    font-size: 14px
    li
      display: inline-block
      padding: 0 10px
      a:link, a:visited
        color: black
        text-decoration: none
      a:hover
        color: blue
      &.active
        border: solid 1px silver

.disabled-onepage-scroll
  nav
    position: static
    ul.pages
      display: none
  .main
    section
      overflow: visible
      position: static
      height: auto
      padding: 20px
      div.desc, div.graphs, div.lead
        display: block
        width: 95%
        position: static
        overflow: wrap
        margin-right: 10px
        .graphSection
          height: 325px
        img.highlight
          bottom: 0!important
      &#page4
        .graphs
          height: 325px

.main.no-onepage
  .spinner
    display: block !important
    position: fixed
    left: calc(50% - 24px)
    top: calc(50% - 24px)
  section
    display: hidden

.main
  font-size: 20px
  section
    padding: 75px 0 0 0
    overflow: hidden
    h2 
      margin: 20px
    &#page1
      color: black
      background: rgb(230, 217, 200)
    &#page2
      color: white
      background: #555557
    &#page3
      color: black
      background: #ddd
    &#page4
      color: white
      background: rgba(100,100,100,1)
    &#page5
      color: black
      background: #fff
    &#page6
      color: black
      background: #ddd
    .desc
      position: absolute
      display: inline-block
      width: -webkit-calc(40% - 40px)
      width: calc(40% - 40px)
      padding: 0 20px
      .point p
        text-align: justify
        padding-left: 35px
        a:link, a:visited
          color: blue
          text-decoration: none
    .graphs
      position: absolute
      display: inline-block
      width: -webkit-calc(60% - 40px)
      width: calc(60% - 40px)
      right: 0
      padding: 0 20px
      img
        display: block
        margin: 0 auto
        position: relative
      .graphs-title
        font-weight: bold
        text-align: center
        font-size: 25px
        &.inactive
          color: #666
    .lead
      font-size: 30px
      text-align: center
      position: absolute
      bottom: 115px
      width: 100%

.controlsection

  button, input
    padding: 5px
    font-size: 15px
    display: inline-block

  h3
    display: inline-block
    width: 150px
    margin: 0
    font-size: 20px

  &.important
    margin-bottom: 25px

    button, input
      padding: 10px
      font-size: 20px
      display: inline-block
      width: calc(33% - 20px)

      &.important
        background-color: rgba(163, 252, 143, 0.53)
        &[disabled]
          background-color: rgb(192, 192, 192)

  table
    width: 100%
    margin: 0 auto
    background-color: #999
    color: black
    padding: 10px 20px
    border-radius: 5px

    input
      float: right

  &.sub
    margin-left: 50px

  #resetoptions:link, #resetoptions:visited
    color: black
    text-decoration: none
    float: right
    font-size: 12px

.graphSection
  width: -webkit-calc(50% - 20px)
  width: calc(50% - 20px)
  height: 420px
  margin: 0
  padding: 10px
  float: left

  .graphContainer
    width: -webkit-calc(100%)
    width: calc(100%)
    display: inline-block
    float: left

    .yaxis
      float: left
      width: 20px
      color: #444

    .graph
      padding: 25px 0px
      background-color: white

    h3
      height: 58px
      text-align: center
