body
  background: url(logo.jpeg) no-repeat top 10px right 10px

#controls, #currentround, #options
  font-size: 20px

  button, input
    padding: 10px
    font-size: 20px
    display: inline-block

  h3
    display: inline-block
    margin-right: 30px

#q1
  width: -webkit-calc(33% - 20px)
  width: calc(33% - 20px)
  margin: 0
  padding: 10px
  float: left

  #container1
    width: -webkit-calc(100% - 20px)
    width: calc(100% - 20px)
    display: inline-block

#q2
  width: -webkit-calc(65% - 20px)
  width: calc(65% - 20px)
  margin: 0
  padding: 10px
  float: left

  #container2, #container3
    width: -webkit-calc(50% - 20px)
    width: calc(50% - 20px)
    margin-left: 10px
    display: inline-block

.graphcontainer
  float: left

  .yaxis
    float: left
    width: 20px
