<nav>
  <h1>Game Analysis: Hearthstone</h1>
  <ul class="pages">
    <li><a href="#page1" datapage="1">Introduction</a></li>
    <li><a href="#page2" datapage="2">Reset</a></li>
    <li><a href="#page3" datapage="3">Negative Feedback</a></li>
    <li><a href="#page4" datapage="4">Simulation</a></li>
    <li><a href="#page5" datapage="5">Suggestions</a></li>
    <li><a href="#page6" datapage="6">About</a></li>
  </ul>
</nav>
<div class="main">
	<section id="page1">
		<h2>Hearthstone is a great game with an unique competitive ladder.</h2>
		<div class="desc">
			<div class="point">
				<h3>Users join a queue where they are matched against other players.</h3>
				<p>Everyone has a rank starting at 20 and improving to 1. When you win you can improve you rank, when you lose games you can lose rank.</p>
			</div>
			<div class="point">
				<h3>The ladder chooses another player with the same rank to play against.</h3>
				<p>Unlike previous Blizzard ladders this doesn't use an estimate of your skill.</p>
			</div>
			<div class="point">
				<h3>This system works well.</h3>
				<p>Strong players win a lot and improve in rank, weak players don't advance. Players quickly advance to a rank where others of similar skill are. Most matches are competitive because of the similar strength of players.</p>
			</div>
		</div>
		<div class="graphs">
      <div class="graphSection">
        <div id="container3" class="graphContainer">
          <h3>Player Rankings</h3>
          <div class="yaxis"></div>
          <div class="graph"></div>
        </div>
      </div>
      <div class="graphSection">
        <div id="container4" class="graphContainer">
          <h3>Avg. Skill Difference From Opponent</h3>
          <div class="yaxis"></div>
          <div class="graph"></div>
        </div>
      </div>
      <div id="fpcurrentround">
        Simulation <span id="fpstatus"> playing</span>,
        <span class="round">round <span id="fproundvalue">0</span></span>.
      </div>
		</div>
		<div class="lead">There is a problem though...<div>
	</section>
	<section id="page2">
		<h2>The ladder resets every month</h2>
		<div class="desc">
			<div class="point">
				<h3>Everyone becomes the same level.</h3>
				<span>After a reset everyone is the same rank and so they play each other randomly. The average difference in skill between players becomes very high.</span>
			</div>
			<div class="point">
				<h3>The compact ladder makes games one sided.</h3>
				<span>The average difference in skill between players becomes very high. This isn't fun for anyone. Good players aren't challenged and bad players have no chance. Most games are one sided, not fun for either party.</span>
			</div>
		</div>
		<div class="graphs">
      <div class="graphSection">
        <div id="container5" class="graphContainer">
          <h3>Player Rankings</h3>
          <div class="yaxis"></div>
          <div class="graph"></div>
        </div>
      </div>
      <div class="graphSection">
        <div id="container6" class="graphContainer">
          <h3>Avg. Skill Difference From Opponent</h3>
          <div class="yaxis"></div>
          <div class="graph"></div>
        </div>
      </div>
      <div id="currentround">
        Simulation <span id="spstatus"> playing</span>,
        <span class="round">round <span id="sproundvalue">0</span></span>.
      </div>
		</div>
		<div class="lead">This is excacerbated because...<div>
	</section>
	<section id="page3">
		<h2>The problem lasts longer than it should</h2>
		<div class="desc">
			<div class="point">
				<h3>Negative feedback loops are built into the system.</h3>
				<span>As the better players start to improve in rank they will play against the other good players. This slows their rate of rank improvement.</span>
			</div>
			<div class="point">
				<h3>Moderately skilled players can't keep their improved rank.</h3>
				<span>Any mediocre player who improves in rank will play against the really good players, causing them to lose rank. This gain and loss could keep happening until the better players have ranked farther along.</span>
			</div>
		</div>
		<div class="graphs">
			<img src="assets/high-variance.png"/>
		</div>
		<div class="lead">You can see what's happening for yourself...</div>
	</section>
	<section id="page4">
		<h2>Simulation of ladder reset</h2>
		<div class="desc">
      <div class="controlsection important">
        <button type="button" id="start" class="important">Start</button>
        <button type="button" id="pause" disabled="true">Pause</button>
        <button type="button" id="reset">Reset Ranks</button>
      </div>
      <div class="controlsection sub">
        <h3>Round Speed</h3>
        <button type="button" id="faster" disabled="true">Faster</button>
        <button type="button" id="slower" disabled="true">Slower</button>
      </div>
      <div class="controlsection sub">
        <h3>Jump Ahead</h3>
        <button type="button" id="jump1">+1</button>
        <button type="button" id="jump50">+50</button>
        <button type="button" id="jump500">+500</button>
        Rounds
      </div>
      <div class="controlsection">
        <ul>
          <li>Each player has a strength [0,1].</li>
          <li>Everyone starts at rank 20.</li>
          <li>Each round players are matched with similarly ranked opponents.</li>
          <li>The graphs are sorted by player strength, from weakest to stongest.</li>
        </ul>
      </div>
      <div class="controlsection">
        <table>
          <tr>
            <td><h3>Options</h3></td>
            <td><a href="#" id="resetoptions">Default</a></td>
          </tr>
          <tr>
            <td><label for="deterministic">Deterministic</label></td>
            <td><input id="deterministic" type="checkbox" checked/></td>
          </tr>
          <tr>
            <td><label for="fullpart">Full participation</label></td>
            <td><input id="fullpart" type="checkbox" checked/></td>
          </tr>
          <tr>
            <td><label for="propart">Participation rate proportional to Skill</label></td>
            <td><input id="propart" type="checkbox"/></td>
          </tr>
          <tr>
            <td><label for="numplayers">Number of players</label></td>
            <td><input id="numplayers" type="range" min="2" max="1000" value="100" /></td>
          </tr>
        </table>
      </div>
		</div>
		<div class="graphs">
      <div class="graphSection">
        <div id="container1" class="graphContainer">
          <h3>Player Rankings</h3>
          <div class="yaxis"></div>
          <div class="graph"></div>
        </div>
      </div>
      <div class="graphSection">
        <div id="container2" class="graphContainer">
          <h3>Avg. Skill Difference From Opponent</h3>
          <div class="yaxis"></div>
          <div class="graph"></div>
        </div>
      </div>
      <div id="currentround">
        Simulation <span id="status">paused</span>,
        <span class="round">round <span id="roundvalue">0</span></span>.
      </div>
    </div>
	</section>
	<section id="page5">
		<h2>What other options should Blizzard consider?</h2>
		<div class="desc">
			<div class="point">
				<h3>Don't reset the ladder so often.</h3>
				<span>The first week of every month will be full of terrible games. Until the ladder sorts itself, good players are wasting their time and weak players will just get stomped. The ladder system works well except during this initial period, so minimize how often it's in that state.</span>
			</div>
			<div class="point">
				<h3>Use an MMR based match making system.</h3>
				<span>Other Blizzard games predict players skill based on their past resultsi when choosing opponents, using this "MMR" tool allows for better matchings.</span>
			</div>
		</div>
		<div class="graphs">
		</div>
	</section>
	<section id="page6">
    <h2>About This Site and Me</h2>
		<div class="desc">
			<div class="point">
				<h3>This is my personal analysis and opinion.</h3>
        <p>My goal with this site was to explore this interesting ladder issue. I don't think these issues are incredibly serious, but the the ladder is less than ideal so why not fix it.</p>
      </div>
			<div class="point">
				<h3>Want more information on the simulation?</h3>
        <p>The simulation was written in Coffeescript, you can see the entire codebase <a href="https://github.com/Zack-Tillotson/HearthstoneLadderSim">here</a>.</p>
      </div>
    </div>
	</section>
</div>
